
.avatar{
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    margin-right:  15vh;
}

.flex{
    display:flex;
    justify-content:center;
    margin-right: 15vh;
    margin-top: 4vh;
}

.nameSection {
    display:flex;
    justify-content:space-between;
    margin-top: 1vh;
}

.marginLeft{
    margin-left: 3vh;
}

.row{
flex-direction: row;
}

.stories {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.pictures{
    width: 30vh;
    height: 30vh;
    margin-right: 7px;
    margin-left: 7px;
    flex: 1;
}

.Posts{
display: flex;
justify-content:center;
align-items:center;
align-content: center;
flex-wrap: wrap;
}