
.avatar{
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

.flex{
    display:flex;
    justify-content:center;
    margin-right: 15vh;
    margin-top: 4vh;
}

.nameSection {
    display:flex;
    justify-content:space-between;
    margin-top: 1vh;
}

.marginLeft{
    margin-left: 3vh;
}

.row{
flex-direction: row;
}

.stories {
    display:flex;
    justify-content:space-between;
    align-items:center;

}